*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    
}
header{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: white;
    
}
.headbox{
    width: 98%;
    height: 80px;
    display: flex;
    align-items: center;
    
}
#logo{
    width: 70px;
    height: 70px;
}
.searchbox{
    width: 70%;
    height: 40px;
    background-color: #ebe9e9;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content: space-evenly;
    
}
#icon{
    width: 20px;
    height: 20px;
}
#input{
    width: 90%;
    height: 30px;
    border: none;
    background-color: #ebe9e9;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #767676;
}
.menu{
    width: 330px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.p{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #767676;
}
.o{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: -webkit-linear-gradient(#eb0c96, #3218c4, #10b6e9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.a{
    font-size: 50px;
    color: #767676;
    width: 4.5px;
    overflow: hidden;
}
.set{
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#submit{
    width: 120px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: white;
    color: #767676;
    border: #767676 1px solid;
    border-radius: 5px;
}
#submit:hover{
    width: 120px;
    height: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color: white;
    color: #000000;
    border: #767676 1px solid;
    border-radius: 5px;
}
.pi{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #767676;
}
.pi:hover{
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}

.allmenu{
    width: 100%;
    height:20px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 20px;
}
.allmenu::-webkit-scrollbar {
    display: none;
  }


.e{
    min-width: max-content;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #767676;

}
.e:hover{
    min-width: max-content;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;

}
.w{
    min-width: max-content;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #767676;
}
.w:hover{
    min-width: max-content;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}
.r{
    font-size: 50px;
    color: #767676;
    width: 8px;
    overflow: hidden; 

}
.wall{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 110px;
    padding-left: 0px;

}
.text{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 300px;
}
h1{
    color: white;
    font-size: 50px;
    font-family: sans-serif;
}
p{
    color: white;
    font-size: 20px;
}
#but{
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 15px;

}
#img{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
}


.jijigbiy{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bagana1{
    width: 20.3%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
    
.bagana2{
    width: 20.3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.bagana3{
    width: 20.3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}

@media (max-width: 1000px) {
    
     
    #img{
        height: 600px;
    }
    .menu{
        display: none;
    }
    h1{
        font-size: 50px;

    }
    p{
        font-size: 20px;
    }
    .text{
        position: absolute;
        padding-left: 50px;
    }

    .bagana1 {
        width: 40%;
    }

    .bagana2{
         display: none;
    }
    
    .bagana3 {
        width: 40%;
    }
    .allmenu{
        width: 100%;
        height:20px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        gap: 20px;
    }
    .allmenu::-webkit-scrollbar {
        display: none;
      }
}
@media (max-width:700px) {
    #img{
        height: 480px;
    }
    h1{
        font-size: 40px;

    }
    p{
        font-size: 20px;

    }
    .set{
        display: none;
    }
    .searchbox{
        width: 90%;
    }
    .allmenu{
        width: 100%;
        height:20px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        gap: 20px;
    }
    .allmenu::-webkit-scrollbar {
        display: none;
      }
}
@media(max-width:600px){
    #img{
        height:400px;

    }
    .bagana1{
        width: 90%;
    }
    .bagana2{
        width: 90%;

    }
    .bagana3{
        width: 90%;
    }
    h1{
        font-size: 30px;
      

    }
    p{
        font-size: 20px;
    }.allmenu{
        width: 100%;
        height:20px;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        gap: 20px;
    }
    .allmenu::-webkit-scrollbar {
        display: none;
      }
        
}

    

     